<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!--Initilization Servlets-->
    <servlet>
        <servlet-name>InitHibernate</servlet-name>
        <servlet-class>Helpers.InitHibernate</servlet-class>
        <init-param>
            <param-name>create</param-name>
            <param-value>true</param-value>
        </init-param>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <!--Controllers-->
    <servlet>
        <servlet-name>DashboardController</servlet-name>
        <servlet-class>Controllers.DashboardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>Controllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationController</servlet-name>
        <servlet-class>Controllers.RegistrationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CharactersController</servlet-name>
        <servlet-class>Controllers.CharactersController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UtilitiesController</servlet-name>
        <servlet-class>Controllers.UtilitiesController</servlet-class>
    </servlet>
    <!--Mappings-->
    <servlet-mapping>
        <servlet-name>DashboardController</servlet-name>
        <url-pattern/>
        <url-pattern>/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationController</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CharactersController</servlet-name>
        <url-pattern>/characters</url-pattern>
        <url-pattern>/characters/detail</url-pattern>
        <url-pattern>/characters/edit</url-pattern>
        <url-pattern>/characters/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UtilitiesController</servlet-name>
        <url-pattern>/utilities</url-pattern>
        <url-pattern>/utilities/notes</url-pattern>
        <url-pattern>/utilities/notes/edit</url-pattern>
        <url-pattern>/utilities/monster</url-pattern>
    </servlet-mapping>
    <!--Session Configuration-->
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
